extends layout 
 
block content 
  h1= title 

  if(toShow == null)
    h2 No instance to update
  else 
  - let studentid = toShow._id
  - let student_name = toShow.student_name
  - let student_gender = toShow.student_gender
  - let student_id = toShow.student_id

  div.row(class='mb-2')
   div.mr-1 ID is
   div #{studentid}
  - let actionid = "/resource/student/" + studentid 
  form(id='StudentForm', action=actionid, method="PUT") 
    div.form-group 
        label.studentAttr(for='student_name') Student Name 
        input#student_name(type='text', name='student_name') 
    div.form-group 
        label.studentAttr(for='student_gender') Student Gender
        input#student_gender(type='text', name='student_gender') 
    div.form-group 
        label.studentAttr(for='student_id') Student Number 
        input#student_id(type='number', name='student_id') 
    input(type="submit") 
 
  script. 
    document.forms['StudentForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.json();  
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });
