body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.studentAttr {
  background-color: rgb(248, 140, 140);
  width: 120px;
  color:blue;
  font-family: Arial, Helvetica, Sans-serif;
 }
